.container {
  display: flex;
  flex-direction: column;
}

.treeContainer {
  display: flex;
  flex-direction: column;
}

.treeNodeContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.treeNodeExpander {
  min-width: 14px;
  text-align: center;
  cursor: pointer;
}
